.navbar-brand{
    color: #110E08;
}

/* coffee Main Banner background  */
.background {
    height:100vh;
    background-color: #7F5A3B;
    background-size:cover;
    position:relative;
}

.coffee_title {
    font-size: 4.5rem;
}
.coffee_desc {
    font-size: 1.5rem;
}
.coffee-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageHomePage {
    height: 100vh;
    width: 100%;
}


/* about section image css */
.imageAboutPage {
    height: 100vh;
    width: 100%;
}